body{
  background: #f8f9fb;
}
.App{
  text-align: center;
}
header{
  background: #09d3ac;
  text-align: center;
  padding: 20px;
  color: #000;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 40px;
}
